@font-face {
  font-family: 'Bel';
  src: url('../assets/fonts/BellotaText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font: normal normal 20px/24px Bel, sans-serif;
  color: rgb(77, 77, 79);
}

.wrapper {
  max-width: 75%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.logo {
  width: 10rem;
}
.title {
  font-size: 2.3rem;
}

.basket__container {

}

.basket__item {
  display: grid;
  grid-template-columns: 1fr 7fr 3fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(186, 186, 188);
}
.basket__item:last-child {
  border-bottom: none;
}

.basket__item-img {
  width: 10rem;
  height: auto;
}

.basket__item-description {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-left: 2rem;
}

.basket__item-title {
  text-transform: uppercase;
  font-weight: 600;
}

.basket__item-article,
.basket__item-color-title,
.basket__item-size,
.basket__item-qty-title,
.basket__item-qty,
.basket__item-price-container {
  font-size: 1.1rem;
}

.basket__item-color-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.basket__item-color-img {
  width: 1.5rem;
  height: auto;
}

.basket__item-size {
  width: 5.8rem;
  cursor: pointer;
}

.basket__item-price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: flex-end;
}

.basket__item-delete {
  width: 1rem;
  height: auto;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: all 0.7s ease;
}

.basket__item-delete:hover {
  transform: rotate(180deg);
}

.basket__item-qty-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.basket__item-qty {
  width: 2.5rem;
  text-align: center;
  cursor: pointer;
}

.basket__item-price-container {
  display: flex;
  gap: 2rem;
}

.basket__item-price-init {
  opacity: 0;
}

/*footer promo container*/
.basket__footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.basket__footer-promo-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 4rem;
}

.basket__footer-promo,
.basket__footer-cert {
  display: grid;
  grid-template-columns: 25% repeat(2, 1fr);
  grid-template-areas:
              'title input button'
              'hint hint hint';
  column-gap: 1rem;
  row-gap: 0.2rem;
  align-items: center;
}

.basket__footer-promo-title,
.basket__footer-cert-title {
  grid-area: title;
}

.basket__footer-promo-input,
.basket__footer-cert-input {
  grid-area: input;
  height: 2.5rem;
}

.basket__footer-promo-btn,
.basket__footer-cert-btn {
  grid-area: button;
  height: 2.5rem;
  background-color: rgb(77, 77, 79);
  color: rgb(218, 218, 219);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.7s ease;
}

.basket__footer-promo-btn:hover,
.basket__footer-cert-btn:hover {
  transform: scale(0.93);
}

.basket__footer-promo-hint,
.basket__footer-cert-hint {
  grid-area: hint;
  font-size: 1rem;
}

/*footer total container */
.basket__footer-total-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.basket__footer-promo-discount-container,
.basket__footer-cert-discount-container,
.basket__footer-total-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.basket__footer-total-price-container {
  font-size: 1.4rem;
  font-weight: 600;
}

.basket__footer-price-container {
  display: flex;
  gap: 2rem;
}

.order-btn {
  height: 2.5rem;
  background-color: rgb(77, 77, 79);
  color: rgb(218, 218, 219);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.7s ease;
}

.order-btn:hover {
  transform: scale(0.93);
}

.crossed {
  text-decoration: line-through;
}
